<div class="container">
  <div class="row m-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card col-sm-12 text-center">
        <div class="card-header text-info">
          Edit Your Restaurant
        </div>

        <div class="card-body">
          <form action="/restaurant/{{{restaurant.id}}}" method="POST">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-info">餐廳名字</label>
              <div class="col-sm-9">
                <input type="text" name="name" class="form-control border border-info" value="{{{restaurant.name}}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-info">類別</label>
              <div class="col-sm-9">
                <input type="text" name="category" class="form-control border border-info"
                  value="{{{restaurant.category}}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-info">地址</label>
              <div class="col-sm-9">
                <input type="text" name="location" class="form-control border border-info"
                  value="{{{restaurant.location}}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-info">Google Map 網址</label>
              <div class="col-sm-9">
                <input type="text" name="google_map" class="form-control border border-info"
                  value="{{{restaurant.google_map}}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-info">電話</label>
              <div class="col-sm-9">
                <input type="text" name="phone" class="form-control border border-info" value="{{{restaurant.phone}}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-info">評分(0~5)</label>
              <div class="col-sm-9">
                <input type="number" name="rating" min="0" step="0.1" max="5" class="form-control border border-info"
                  value="{{{restaurant.rating}}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-info">圖片網址</label>
              <div class="col-sm-9">
                <input type="text" name="image" class="form-control border border-info" value="{{{restaurant.image}}}">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label text-info">描述</label>
              <div class="col-sm-9">
                <textarea name="description" class="form-control border border-info" cols="30"
                  rows="5">{{restaurant.description}}</textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-info">送出</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>